title=gebo
meta(charset='utf-8')
meta(name='viewport', content="width=device-width")
link(href='/components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
link(href='/css/style.css', rel='stylesheet')
//| !{cachify_css('/components/bootstrap/dist/css/bootstrap.css')}
//| !{cachify_css('/css/style.css')}
