extends layout

block content
    p.lead Friendly gebos
    ul
        - for (var i =0; i < friends.length; i++)
            li #{friends[i].name} - #{friends[i].email} 
                button.btn.btn-default.btn-mini
                    span.glyphicon.glyicon-star Poke
    p.lead Registered agents
    ul
        - for (var i = 0; i < registrants.length; i++)
            li #{registrants[i].name} - #{registrants[i].email} 
