extends layout

block content
    .header.jumbotron.subhead
        .row
            .span6
                if (!user)
                    h1 Welcome
                    p.lead Don't forget to seed the database:
                    code $ grunt dbseed
                else
                    p.lead Hello, #{user.name}
            if (!user)
                .span6
                    div.pull-right
                        h2 Sign up
                        form(action="/signup", method="post", autocomplete="off")
                            div
                                input(type="text", name="newName", placeholder="Name")
                            div
                                input(type="text", name="newEmail", placeholder="Email")
                            div
                                input(type="password", name="newPassword", placeholder="Password")
                            div
                                input(type="submit", value="Sign up")


