!!!
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-fixed-top.navbar-inverse(role="navigation")
        .container
            .navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse", data-target=".navbar-collapse")
                    span.sr-only Toggle navigation
                    span.glyphicon-bar
                    span.glyphicon-bar
                    span.glyphicon-bar
                a.navbar-brand(href="/") #{title} 
            .collapse.navbar-collapse.in
                if (!agent)
                    ul.nav.navbar-nav
                        li
                            a(href="/login") Login
                else
                    ul.nav.navbar-nav
                        if (agent.admin)
                             li
                                a(href="/admin") Admin
                        li
                            a(href="/account") Account
                        li
                            a(href="/logout") Logout
    .container

        block content

        block footer
            footer.page-footer
                p &copy; Company 2013


    | !{cachify_js('/components/jquery/jquery.min.js')}
    | !{cachify_js('/components/bootstrap/dist/js/bootstrap.min.js')}
    | !{cachify_js('/js/site.js')}
    block scripts
