extends layout

block content
    .container
        .col-sm-6
            form.form-signin(action="/login", method="post")
                if (agent)
                    p.lead Try logging in, #{agent.name}
                    input.form-control(type="text", name="username", value="#{agent.email}", required, autofocus)
                else
                    input.form-control(type="text", name="username", placeholder="Email", required)
                input.form-control(type="password", name="password", placeholder="Password")
                br
                button.btn-lg.btn-block(type="submit") Sign in
